<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="Bash" value="http://bash.im/index/"/>
    <add key="Page" value="http://bash.im/"/>
  </appSettings>
</configuration>